:root {
	--text-color: color-mix(in hsl, white 90%, var(--accent-color) 10%);
	--accent-color: #4f5d2f;
	--harsh-color: #111;
	--border-color: color-mix(
		in hsl,
		var(--accent-color) 70%,
		var(--harsh-color) 30%
	);
	--link-color: color-mix(
		in hsl,
		var(--text-color) 40%,
		var(--accent-color) 60%
	);
	--background-color: color-mix(
		in hsl,
		var(--accent-color) 45%,
		var(--harsh-color) 55%
	);
	--line-thickness: round(0.3rem, 1px);
	color: var(--text-color);
	background-color: var(--background-color);
	font-family: "Hanken Grotesk", sans-serif;
}

body {
	box-sizing: border-box;
	margin: 0;
	height: 100vh;
	display: grid;
	grid-template-areas:
		"header header header"
		"nav main _"
		"footer footer footer";
	grid-template-columns: 30ch 1fr 30ch;
	grid-template-rows: auto 1fr auto;
}

@media (max-width: 120ch) {
	body {
		grid-template-areas:
			"header"
			"nav"
			"main"
			"footer";
		grid-template-columns: 1fr;
		grid-template-rows: auto auto 1fr auto;
	}
}

header {
	grid-area: header;
	display: flex;
	padding: 0.5rem 3rem;
	border-bottom: var(--line-thickness) solid var(--border-color);
	> a {
		font-size: 1.5rem;
		font-weight: bold;
		display: flex;
		gap: 1rem;
	}
	background-color: var(--border-color);
	margin-bottom: 2rem;
}

nav {
	grid-area: nav;
	margin-left: 3rem;
	display: flex;
	flex-direction: column;
	div {
		margin: 1rem 0;
	}
	a {
		display: block;
		&:first-child {
			font-size: 150%;
		}
	}
}

main {
	grid-area: main;
}

footer {
	grid-area: footer;
	text-align: center;
	padding: 0.7rem;
	font-size: 80%;
	background-color: var(--border-color);
	margin-top: 2rem;
}

a {
	color: var(--link-color);
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

/* * + h1, */
/* * + h2, */
/* * + h3, */
/* * + h4, */
/* * + h5, */
/* * + h6 { */
/* 	margin-top: 1rem; */
/* } */
